:root {
    --grid-side: 16;
    --random-hue: 0;
    --random-saturation: 0;
}

.grid-container {
    display: grid;
    height: 800px;
    width: 800px;
    grid-template-columns: repeat(var(--grid-side), 1fr);
    gap: 5px;
    grid-auto-rows: auto;
    grid-auto-flow: row;
  }

.grid-item {
    background-color: whitesmoke;
    height: 100%;
    width: auto;
}

.hover {
    background-color: hsl(var(--random-hue) var(--random-saturation));
}