.grid-container {
    display: grid;
    height: 800px;
    width: 800px;
    grid-template-columns: repeat(16, 1fr);
    gap: 5px;
    grid-auto-rows: auto;
    grid-auto-flow: rows;
  }

.grid-item {
    background-color: whitesmoke;
    height: 100%;
    width: auto;
}